
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

/*-----------------------------------------Navbar / header */

.navbar-custom{
    padding: 0;  
    }
    
header {
    background-color: #55a2a6;
   
}

.navbar{
  box-shadow: 0px 5px 5px#799394;
  z-index: 99;
}

.alert {
    margin: 0;
    padding: 0px;
    background-color: #f3db64;
    border-radius:0;
    border-style: none;
    color: #06264c;
}
.navbar-brand {
    
    font-family: "Fredoka", sans-serif;
    font-size: 30px;
    margin: 0px;
    padding-left: 20px;
    color: #ffffff; 

  }

  .navbar-nav .nav-link {
    color: #ffffff;
  }

  .navbar-nav .nav-link:hover {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 1px;
    margin-bottom: 2px;
}
  .navbar-toggler {
    padding-right: 20px;
    border: 0;
    background-color: transparent;
    outline: none;
    
  }
  
  .navbar-toggler-icon {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out;
  }
  
 
  .navbar-nav {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-end; 
    transition: transform 0.3s ease-in-out;
  }
#navbarNav {
    padding-bottom: 10px;
    padding-right: 20px;
    justify-content: space-between;
}
  /*-----------------------------------------hero/jumbotron*/
  .jumbotron {
    background-image: url("../images/hands.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    background-position: center;
    color: #cc972d; 
    text-align: center;
    margin-bottom: 0px;
    height: 100vh;
    font-family: "EXO", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.btn {
  color: #fafafa;
  background-color: #55a2a6;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.hero-section .container {
  margin-bottom: 190px;
}

.hero-section .container h1 {
  font-weight: 500;
}
/*-----------------------------------------Information index*/
.container-fluid {
  text-align: center;
  margin-top: 30px; 
  padding-left: 20px;
  padding-right: 20px;
}
.info-head-top {
  margin-bottom: 20px; 
  font-family: "EXO", sans-serif;
 }

.info-head-bottom {
 margin-bottom: 20px; 
 font-family: "EXO", sans-serif;
}



.info-para-top {
  margin-top: 40px;
  font-family: "EXO", sans-serif;
}

.info-para-bottom {
  margin-top: 40px;
  font-family: "EXO", sans-serif;
 
}

#info {
  margin-bottom: 30px;
}



 /*-----------------------------------------Selfhelp- 4 steps*/

.health-mh {
  font-family: "EXO", sans-serif;
  display: flex;
}

.health-mh h4 {
  font-weight: 500;
}

.container {
  width: 100%;
  margin-top: 2rem ;
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}

.feature {
  font-family: "EXO", sans-serif;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.page-header {

  font-family: "EXO", sans-serif;
}

.features .row {
  justify-content: center;
  align-items: center;
}


  /*-----------------------------------------Contacts*/

  .hero-image {
    background: url("../images/hands.jpg") no-repeat bottom right fixed; 
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .container .contact {
    font-family: "exo", sans-serif;
  }

  .contact-info {
    color: #55a2a6 ;
    padding-left: 20px;
    
    
  }

  .contact-form {
   color: #55a2a6;
    background: rgba(255,255,255,.5);
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
#fname {
  background-color: transparent;
}

#lname {
  background-color: transparent;
}

#email {
  background-color: transparent;
}

#comment {
  background-color: transparent;
}

  
  /*-----------------------------------------footer*/
  footer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #cc972d;
    height: 90px;
    width: 100%;
    padding: 0;
  
    margin: 0;
    box-shadow: 0px -1px 5px 3px #c0cdcd
  }
  
  .help-links {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0 20px; 
    
  }
  
  .help-links li {

    margin: 0; 
    
  }
  
  .help-links li a i {
    padding-bottom: 12px;
    font-size: 15px;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.list-inline {
    display: flex;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 0;
    list-style: none;
    justify-content: space-evenly;
}

.list-inline-item p {
  color: #fafafa;
  font-size: small;
}
#footer-details {
  width: 100%;
}

