
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

/*-----------------------------------------Navbar / header */

.navbar-custom{
    padding: 0;  
    
   
    }
    
header {
    background-color: #55a2a6;
}
.alert {
    margin: 0;
    padding: 0px;
    background-color: #f3db64;
    border-radius:0;
    border-style: none;
    color: #06264c;
}
.navbar-brand {
    
    font-family: "Fredoka", sans-serif;
    font-size: 30px;
    margin: 0px;
    padding-left: 20px;
    color: #ffffff; 
  }

  .navbar-nav .nav-link {
    color: #ffffff;
  }

  .navbar-nav .nav-link:hover {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 1px;
    margin-bottom: 2px;
}
  .navbar-toggler {
    padding-right: 20px;
    border: 0;
    background-color: transparent;
    outline: none;
  }
  
  .navbar-toggler-icon {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out;
  }
  
 
  .navbar-nav {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-end; 
    transition: transform 0.3s ease-in-out;
  }
#navbarNav {
    padding-bottom: 10px;
    padding-right: 20px;
    justify-content: space-between;
}




  

  /*-----------------------------------------Special text/paddings/margins*/

  .uppercase {
    text-transform: uppercase;

.general-sub {
    font-family:"Exo", sans-serif ;
    font-weight: 300;
color: #fafafa;
}
  }

  /*-----------------------------------------footer*/

  footer {
      background-color: #AAADB2;
      color: #00567b;
      min-height: 120px;
      margin: 0;
  }

  .footer-details {
    display: flex;
  }